.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  padding: 20px;
  margin-top: 16px;
  border-radius: 10px;
  max-height: 100vh;
  width: 100%;
  max-width: 800px;

  height: calc(100vh - 75px);
  overflow-y: auto;

  scrollbar-color: #666 #d9d9d9;
}
