.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header .search_container {
  position: relative;
  display: inline-block;
}

.header input {
  padding: 16px 16px 10px 40px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #f6f7fb;
  width: 300px;
}

.header svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  pointer-events: none; /* Makes the icon non-interactive */
}

.sugestions {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 8px;
  padding: 16px;
  background-color: #fefefe;
  border-radius: 10px;
}

.sugestions h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.sugestions .element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  color: black;
  gap: 8px;
}

.sugestions .element .details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.sugestions .element .name h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #353542;
}

.sugestions .element .name p {
  font-size: 14px;
  font-weight: bold;
  color: #abacb0;
}

.sugestions .element button {
  background-color: black;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.sugestions span {
  font-size: 16px;
  font-weight: bold;
  color: #79a8c4;
  padding-left: 10px;
  padding-top: 10px;
}
